{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .container {
            max-width: 730px;
            margin-top: 15px;
        }
        .header {
            border-bottom: 1px solid #e5e5e5;
            margin-bottom: 30px;
        }
        .footer {
            border-top: 1px solid #e5e5e5;
            padding-top: 19px;
            margin-top: 20px;
        }
        .jumbotron {
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        {% include 'narrow-jumbotron/body/navbar.html.twig' %}
        {% block container %}{% endblock %}
        {% include 'narrow-jumbotron/body/footer.html.twig' %}
    </div>
{% endblock %}